* {
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('../public/dashboard-bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #020617;
  overflow-x: hidden;

}
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
